:root {
    --primary: #b41c0b;
    --dark: #202020;
    --bg-white: #F2F6F7;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

body {
    font-family: 'Encode Sans', sans-serif !important;
    color: var(--dark);
    margin: 0;
    background-color: var(--bg-white);
}

section {
    min-height: 100vh;
    display: grid;
    scroll-snap-align: start;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.active {
    font-weight: bold;
}

.navbar a{
    text-decoration: none;
    color: var(--dark);
}

/* -----------------------HOME SECTION--------------------------- */

.home-section {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "intro-text intro-text intro-text intro-pic intro-pic";
}

.intro-text {
    grid-area: intro-text;
    background-image: linear-gradient(to top right, #DEE8EF , #F2F6F7);
}
    .intro-text .content {
        text-align: center;
        margin-top: 5rem;
    }
    .intro-text .logo-img {
        width: 15%;
        height: 15%;
    }
    .intro-text .social {
        display: flex;
        justify-content: space-evenly;
        padding: 0 12rem;
    }
    .intro-text span {
        color: var(--primary);
        margin-right: 5px;
    }
    .intro-text a {
        text-decoration: none;
        color: var(--dark);
    }
    .intro-text .title {
        font-family: 'Abril Fatface', cursive;
        font-size: 5rem;
        letter-spacing: 3px;
        padding: 2rem 7rem;
        line-height: 5.5rem;
    }
.intro-pic {
    grid-area: intro-pic;
    background-image: url('assets/main.jpg');
    background-size: cover;
}

/* -----------------------ABOUT US SECTION--------------------------- */

.about-us-section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "about-pic about-text about-text about-text";
}

.about-us-pic {
    grid-area: about-pic;
    background-image: url('assets/about.jpeg');
    background-size: cover;
    background-position-x: right;
}

.about-us-text {
    grid-area: about-text;
    padding: 3rem 6rem;
}

    .about-us-text span {
        color: var(--primary);
    }
    .about-us-text .title {
        font-family: 'Abril Fatface', cursive;
        font-size: 4rem;
        letter-spacing: 1px;
        width: 55%;
        line-height: 4rem;
        margin: 0;
        padding: 1rem 0;
    }
    .about-us-text .parag {
        width: 80%;
        margin-top: 1rem;
    }

/* -----------------------TEAM SECTION--------------------------- */

.team-section {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "team-header"
    "team-pic"
    "team-pic"
    "team-pic";
}

.team-header {
    grid-area: team-header;
    text-align: center;
    padding: 2rem;
}

    .team-header span {
        color: var(--primary);
    }
    .team-header .title {
        font-family: 'Abril Fatface', cursive;
        font-size: 4rem;
        letter-spacing: 1px;
        line-height: 4rem;
        margin: 0;
        padding: 1rem;
    }

.team-pic {
    grid-area: team-pic;
    background-image: url('assets/team.jpg');
    background-size: cover;
}

/* -----------------------MENU SECTION--------------------------- */

.menu-section {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "menu-header"
    "menu-pic"
    "menu-pic";
}

.menu-header {
    grid-area: menu-header;
    text-align: center;
    padding: 2rem;
}

    .menu-header span {
        color: var(--primary);
    }
    .menu-header .title {
        font-family: 'Abril Fatface', cursive;
        font-size: 4rem;
        letter-spacing: 1px;
        line-height: 4rem;
        margin: 0;
        padding: 1rem;
    }
    .options {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
        padding: 1rem;
        position: relative;
    }
    .options::after {
        content: '';
        position: absolute;
        background-color: #c3c3c37a;
        height: 2px;
        width: 79%;
        bottom: 10px;
        z-index: -1;
    }
    .select {
        position: relative;
        cursor: pointer;
    }
    .select::after{
        content: '';
        position: absolute;
        background-color: #b41c0b;
        height: 2px;
        width: 0%;
        bottom: -6px;
        left: -20%;
        margin: auto;
        transition: width 200ms ease;
    }
    .selected {
        position: relative;
        cursor: pointer;
    }
    .selected::after {
        content: '';
        position: absolute;
        background-color: #b41c0b;
        height: 2px;
        width: 140%;
        bottom: -6px;
        left: -20%;
        margin: auto;
    }

.menu-pic {
    grid-area: menu-pic;
}

/* -----------------------RESERVATION SECTION--------------------------- */

.res-section {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "res-header"
    "res-call"
    "res-time";
}

.res-header {
    grid-area: res-header;
}

.res-call {
    grid-area: res-call;
}

.res-time {
    grid-area: res-time;
}

/* -----------------------FOOTER SECTION--------------------------- */

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "find-us    about-us-foot    contact-us    follow-us";
}

